
<nav>   
    <div class="nav">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <% if(user){%>            
            <a href="/logout">Hello <%= user.userName%> logout?</a>
        <% } else{ %>   
            <a href="/register">Register</a> |
            <a href="/login">Login</a>
        <% }%>
    </div>
</nav>