<div id="my-id" class="uk-modal modalSelector">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <form action="">
            <h5>Post title :</h5>
            <input id="modalTitle" type="text" name="title">
            <h5>Content :</h5>
            <textarea id="modalText" cols="40" rows="10" name="text"></textarea>
            <br><br>
            <a id="btnSubmit" class="uk-button uk-button-success " onclick="sendPost()">Post</a>
            <button type="reset" class="uk-button uk-button-success "> Clear</button>
            <a id="cancelClick" class="uk-button uk-button-success ">Back</a>
        </form>
    </div>
</div>
