   <div class="new-message-box">
    <form action="">
        <h5>Post title :</h5>
        <input type="text" name="title">
        <h5>Content :</h5>
        <input type="text" name="text"><br>
        <input type="submit" value="submit">
    </form>
</div>