
.new-message-box{
    position: absolute;
    top:0;
    left:0;
    background-color:#c4ebbc;
    width:100vw;
    height: 100vh;
    
}

.new-message-box form{
    position:relative;
    padding: 1vh 5vw 1vh;
    top:5vh;
    left:30vw;
    width:20vw;
    height:60vh;
    background-color:#d0dbce;
    border: 3px solid #ffffff;
}

