<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
         <div style="min-height:100vh;margin-bottom:10vh;">
        <header>
            <% include ../partials/header %>
        </header>
        <div style="height: 70vh;">
            <h2>Error Page</h2>
        </div>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <% include ../partials/footer%>
        </div>
    </body>
</html>