<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <h2><%= title%></h2>
        <div>
            <form method="POST" action="/login">
                <div>
                    <h6>Email :</h6>
                    <input type="text" name="username" placeholder="Email">
                </div>
                <div>
                    <h6>Password :</h6>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <br>
                <input type="submit" value="Login">
            </form>
        </div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <% include ../partials/footer%>
    </body>
</html>